<div class="pdf-viewer">
  <div class="pane-head">
    <span class="ph-title">Dokument źródłowy</span>
    <div class="ph-tools">
      @if (pageCount() > 0) {
        <span class="ph-pages mono">{{ pageCount() }} str.</span>
      }
    </div>
  </div>
  <div class="pdf-viewer__body">
    @if (pdfBlob()) {
      <ngx-extended-pdf-viewer
        [src]="pdfBlob()!"
        [textLayer]="true"
        [showToolbar]="false"
        [showBorders]="false"
        [showSidebarButton]="false"
        [page]="targetPage()"
        language="en-US"
        height="100%"
        backgroundColor="#f3f4f6"
        (pagesLoaded)="onPagesLoaded($event)"
      />
    } @else {
      <div class="pdf-viewer__empty">
        <p>Brak pliku PDF</p>
      </div>
    }
  </div>
</div>
